{{#if errors}}
    {{#each errors}}
        <div class="alert alert-warning" role="alert">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}

{{#if success_msg}}
        <div class="alert alert-success" role="alert">
            {{success_msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{{else}}

{{/if}}

{{#if error_msg}}
        <div class="alert alert-warning" role="alert">
            {{error_msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{{else}}

{{/if}}

{{#if error}}
    <div class="alert alert-warning w-100" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{else}}

{{/if}}